@{
    ViewData["Title"] = "Home Page";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.22/css/dataTables.semanticui.min.css" rel="stylesheet" />

<table id="sampleDataTable" class="ui celled table" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Event</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Event</th>
        </tr>
    </tfoot>
</table>
